{% extends 'back/base.html' %}
{% load static %}
{% block content %}
<!-- End Navbar -->
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Data User</h4>
                </div>
                <div class="card-body">
                    <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Username</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Is Staff</th>
                                {% if request.session.is_operator == 'operator' %}
                                <th class="text-center">Actions</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in user %}
                            {% if i.groups.all.0.name == "Operator" %}
                            {% else %}
                            <tr>
                                <td class="text-center" scope="row">{{forloop.counter}}</td>
                                <td class="text-center">{{i.username}}</td>
                                <td class="text-center">{{i.email}}</td>
                                <td class="text-center">{{i.is_staff}}</td>
                                {% if request.session.is_operator == 'operator' %}
                                <td class="text-center">
                                    <a onclick="alert('Anda yakin menghapus data?')" href="{% url 'delete_user' i.id %}"
                                        class="btn btn-sm btn-danger">
                                        <i class="bi bi-trash"></i></a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endif %}
                            {% endfor %}

                        </tbody>
                    </table>
                </div><!-- end content-->
            </div><!--  end card  -->
        </div> <!-- end col-md-12 -->
    </div> <!-- end row -->
</div>
{% endblock content %}