{% extends 'back/Login-Register/base.html' %}
<!-- End Navbar -->
{% block content %}
{% load static %}
<div class="wrapper wrapper-full-page ">
  <div class="full-page section-image" filter-color="black" data-image="../../../static/back/img/bg/bruno-abatti.jpg">
    <div class="content">
      <div class="container">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-lock text-center">
            <div class="card-header ">
              <img src="{% static 'back/img/faces/joe-gardner-2.jpg' %}" alt="...">
            </div>
            <div class="card-body ">
              <h4 class="card-title">Joe Gardner</h4>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Enter Password..">
              </div>
            </div>
            <div class="card-footer ">
              <a href="javascript:;" class="btn btn-outline-default btn-round">Unlock</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}