{% extends 'back/Login-Register/base.html' %}
{% block content %}
<div class="wrapper wrapper-full-page ">
  <div class="full-page section-image" filter-color="black" data-image="../../../static/back/img/bg/jan-sendereks.jpg">
    <div class="content">
      <div class="container">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <form class="form" method="POST">
            <div class="card card-signup">
              {% csrf_token %}
              <div class="card-header ">
                <h4 class="header text-center">Register</h4>
              </div>
              <div class="card-body ">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-circle-10"></i>
                    </span>
                  </div>
                  <input type="text" placeholder="Username..." class="form-control" name="username">
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="bi bi-file-lock"></i>
                    </span>
                  </div>
                  <input type="password" class="form-control" name="password">
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-single-02"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="First Name..." name="first_name">
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-circle-10"></i>
                    </span>
                  </div>
                  <input type="text" placeholder="Last Name..." class="form-control" name="last_name">
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-email-85"></i>
                    </span>
                  </div>
                  <input type="email" class="form-control" placeholder="Email..." name="in_email">
                </div>
                <div class="card-footer ">
                  <button class="btn btn-info btn-round btn-block mb-3">Get Started</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}