{% extends 'back/base.html' %}
{% block content %}
<!-- End Navbar -->
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Data Buku {{ buku.id }}</h4>
                </div>
                <div class="card-body">
                    <form class="form-horizontal" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <label class="col-md-2 col-form-label">Penulis</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <p class="form-control">{{ buku.penulis }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 col-form-label">Jenis Buku</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <p class="form-control">{{ buku.jenis_buku }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 col-form-label">Judul</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <p class="form-control">{{ buku.judul }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 col-form-label">Sinopsis</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <p class="form-control">{{ buku.sinopsis }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 col-form-label">Penerbit</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <p class="form-control">{{ buku.penerbit }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-2 col-form-label">Tanggal Terbit</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <p class="form-control">{{ buku.date }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <a href="{% url 'Tbuku' %}" class="btn btn-primary">Kembali</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}