{% extends 'front/base.html' %}
{% load static %}
{% block content %}
<!-- End Navbar -->
<div class="wrapper">
  <div class="page-header page-header-small header-filter">
    <div class="page-header-image" data-parallax="true"
      style="background-image: url('../static/front/img/fabien-bazanegue.jpg');">
    </div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h1 class="title">About Me</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="cd-section" id="teams">
      <!--     *********    TEAM 4     *********      -->
      <div class="team-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Profile</h2>
              <h4 class="description">Assalamualaikum, Halo semua kenalin saya Bobi Zinaidin Zidan seorang Mahasiswa
                Universitas Muhammadiyah kalimantan timur, mungkin ada teman-teman yang berkunjung ke website ini pada
                saat masih aktif saya mau sampaikan website ini hanya sebagai tugas kuliah jika ada pertanyaan bisa
                langsung kontak saya di bawah ini</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10 ml-auto mr-auto">
              <div class="card card-profile card-horizontal">
                <div class="row">
                  <div class="col-xl-5" style="padding: 30px;">
                    <div class="card-image no-mask">
                      <a href="javascript:;">
                        <img class="img" src="{% static 'front/img/Profile.jpeg' %}">
                      </a>
                    </div>
                  </div>
                  <div class="col-xl-7">
                    <di class="card-body mt-3">
                      <h6 class="card-category">Nama</h6>
                      <h4 class="card-title">Bobi Zinaidin Zidan</h4>
                      <br>
                      <h6 class="card-category">NIM</h6>
                      <h4 class="card-title">2011102441155</h4>
                      <br>
                      <h6 class="card-category">Profesi</h6>
                      <h4 class="card-title">Mahasiswa</h4>
                      <br>
                      <h6 class="card-category">Department</h6>
                      <h4 class="card-title">Teknik Informatika</h4>
                      <br>
                      <h6 class="card-category">Faculty</h6>
                      <h4 class="card-title">Sains and Technology</h4>
                      <br>
                      <h6 class="card-category">Contact</h6>
                      <a target="_blank" href="https://twitter.com/bobizinaidin_"
                        class="btn btn-icon btn-link btn-neutral" data-original-title="Follow us">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a target="_blank" href="https://facebook.com/bobbizinaidin.zidan"
                        class="btn btn-icon btn-link btn-neutral" data-original-title="Like us">
                        <i class="fab fa-facebook-square"></i>
                      </a>
                      <a target="_blank" href="https://www.instagram.com/bobizinaidin_"
                        class="btn btn-icon btn-link btn-neutral" data-original-title="Follow us">
                        <i class="fab fa-instagram"></i>
                      </a>
                      <a target="_blank" href="https://github.com/bobizinaidinzidan/"
                        class="btn btn-icon btn-link btn-neutral" data-original-title="Follow us">
                        <i class="fab fa-github"></i>
                      </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}