<!-- 
 =========================================================
 * Blk• Design System Pro - v1.0.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/blk-design-system-pro
 * Copyright 2019 Creative Tim (http://www.creative-tim.com)

 * Coded by www.creative-tim.com

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 -->

{% extends 'front/base.html' %}
{% load static %}
{% block content%}
<!-- End Navbar -->
<div class="wrapper">
  <div class="page-header">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">FT• Indonesia</h1>
        <h3>Financial Technology Indonesia</h3>
      </div>
    </div>
  </div>
  <div class="space-70"></div>
  <div class="space-70"></div>
  <div class="space-70"></div>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="info info-hover">
            <div class="icon icon-primary">
              <img class="bg-blob" src="{% static 'front/img/feature-blob/primary.png' %}">
              <i class="tim-icons icon-user-run"></i>
            </div>
            <h2 class="info-title">Watchlist</h2>
            <h4 class="description">Every element that you need in a product comes built in as a component. All
              components
              fit perfectly with each other and can take variations in colour.</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info info-hover" style="margin-top:-50px;">
            <div class="icon icon-warning">
              <img class="bg-blob" src="{% static 'front/img/feature-blob/warning.png' %}">
              <i class="tim-icons icon-atom"></i>
            </div>
            <h2 class="info-title">Reksadana</h2>
            <h4 class="description">Putting together a page has never been easier than matching together sections. From
              team
              presentation to pricing options, you can easily customise and built your pages.</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info info-hover">
            <div class="icon icon-success">
              <img class="bg-blob" src="{% static 'front/img/feature-blob/success.png' %}">
              <i class="tim-icons icon-gift-2"></i>
            </div>
            <h2 class="info-title">Berita</h2>
            <p class="description">If you want to get inspiration or just show something directly to your clients, you
              can
              jump start your development with our pre-built example pages.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="space-70"></div>
    <div class="cd-section" id="tables">
      <!--     *********    Table 2     *********      -->
      <div class="tables-2">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <h2 class="title mb-4">The best solution you can choose</h2>
              <div class="section-space"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mx-auto">
              <div>
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive mb-0">
                      <table class="table table-pricing">
                        <thead>
                          <tr>
                            <th class="text-center">
                              #
                            </th>
                            <th class="text-center">
                              <p class="card-title">FindMe</p>
                            </th>
                            <th class="text-center">
                              <p class="card-title">Essential</p>
                            </th>
                            <th class="text-center">
                              <p class="card-title">Premium</p>
                            </th>
                            <th class="text-center">
                              <p class="card-title">FindMe</p>
                            </th>
                            <th class="text-center">
                              <p class="card-title">Essential</p>
                            </th>
                            <th class="text-center">
                              <p class="card-title">Essential</p>
                            </th>
                            <th class="text-center">
                              <p class="card-title">Essential</p>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>
                              4
                            </td>
                            <td>
                              Plan cost<i class="tim-icons icon-alert-circle-exc ml-1"></i>
                            </td>
                            <td>
                              Free
                            </td>
                            <td>
                              Free
                            </td>
                            <td>
                              <a href="javascript:void(0)">Contact us</a>
                            </td>
                            <td>
                              <a href="javascript:void(0)">Contact us</a>
                            </td>
                            <td>
                              Platform fee<i class="tim-icons icon-alert-circle-exc ml-1"></i>
                            </td>
                            <td>
                              0%
                            </td>
                          </tr>
                          <tr>
                            <td>
                              5
                            </td>
                            <td>
                              Plan cost<i class="tim-icons icon-alert-circle-exc ml-1"></i>
                            </td>
                            <td>
                              Free
                            </td>
                            <td>
                              Free
                            </td>
                            <td>
                              <a href="javascript:void(0)">Contact us</a>
                            </td>
                            <td>
                              <a href="javascript:void(0)">Contact us</a>
                            </td>
                            <td>
                              Platform fee<i class="tim-icons icon-alert-circle-exc ml-1"></i>
                            </td>
                            <td>
                              0%
                            </td>
                          </tr>
                          <tr>
                            <th class="text-right">
                              <a href="{% url 'reksadana' %}">
                                Lihat Selengkapnya ...
                              </a>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--     *********    END Table 2     *********      -->
    </div>
    <div class="space-70"></div>
    <div class="section section-plain-cards">
      <div class="container">
        <div class="title">
          <h3>Plain Cards</h3>
          <h3>
            <small>Blog Cards</small>
          </h3>
        </div>
        <!--     *********    PLAIN BLOG CARDS      *********      -->
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="card card-blog card-plain">
              <div class="card-image" data-animation="true">
                <img class="img rounded img-raised" src="{% static 'front/img/pawel-nolbert.jpg' %}">
              </div>
              <div class="card-body">
                <h6 class="category text-warning">
                  <i class="tim-icons icon-wallet-43"></i> Focus
                </h6>
                <h5 class="card-title">
                  <a href="javascript:;">Stay Focused: Train Your Brain</a>
                </h5>
                <p class="card-description">
                  Our brains are finely attuned to distraction, so today's digital environment makes it especially hard
                  to focus...
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card card-blog card-plain">
              <div class="card-image">
                <a href="javascript:;">
                  <img class="img rounded img-raised" src="{% static 'front/img/max.jpg' %}">
                </a>
              </div>
              <div class="card-body">
                <h6 class="category text-primary">Features</h6>
                <h5 class="card-title">
                  <a href="javascript:;">That’s One Way To Ditch Your Passenger</a>
                </h5>
                <p class="card-description">
                  As near as we can tell, this guy must have thought he was going over backwards and tapped the rear
                  break to bring the nose down...
                </p>
                <div class="card-footer">
                  <div class="author">
                    <img src="{% static 'front/img/lora.jpg' %}" alt="..." class="avatar img-raised">
                    <span>Mike John</span>
                  </div>
                  <div class="stats stats-right">
                    <i class="tim-icons icon-watch-time"></i> 5 min read
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card card-blog card-plain">
              <div class="card-image">
                <a href="javascript:;">
                  <img class="img img-raised rounded" src="{% static 'front/img/serge-kutuzov.jpg' %}">
                </a>
              </div>
              <div class="card-body text-center">
                <h6 class="category text-danger">
                  <i class="tim-icons icon-sound-wave"></i> Business
                </h6>
                <h5 class="card-title">
                  <a href="javascript:;">Axel Springer Spends $343M To Buy Business Insider</a>
                </h5>
                <p class="card-description">
                  German media giant Axel Springer has announced it’s acquiring online business news publication
                  Business Inside...
                </p>
                <div class="card-footer">
                  <a href="javascript:;" class="btn btn-primary">Read Article</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--     *********    END PROFILE CARDS      *********      -->
    </div>
    <div class="cd-section" id="accordion">
      <!--     *********    Accordion 1     *********      -->
      <div class="accordion-1">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
              <h2 class="title mb-4 mt-5">Frequently asked question</h2>
              <div class="section-space"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 ml-auto">
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link w-100 text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        How do I order?
                        <i class="tim-icons icon-minimal-down float-right"></i>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf
                      moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod.
                      Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                      shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea
                      proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                      denim
                      aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link w-100 text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        How can i make the payment?
                        <i class="tim-icons icon-minimal-down float-right"></i>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf
                      moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod.
                      Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                      shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea
                      proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                      denim
                      aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                      <button class="btn btn-link w-100 text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        How much time does it take to receive the order?
                        <i class="tim-icons icon-minimal-down float-right"></i>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                    data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf
                      moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod.
                      Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                      shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea
                      proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                      denim
                      aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                      <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse"
                        data-target="#collapseFour" aria-controls="collapseFour">
                        Can I resell the products?
                        <i class="tim-icons icon-minimal-down float-right"></i>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf
                      moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod.
                      Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                      shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea
                      proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                      denim
                      aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingFifth">
                    <h5 class="mb-0">
                      <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse"
                        data-target="#collapseFifth" aria-controls="collapseFifth">
                        Where do I find the shipping details?
                        <i class="tim-icons icon-minimal-down float-right"></i>
                      </button>
                    </h5>
                  </div>
                  <div id="collapseFifth" class="collapse" aria-labelledby="headingFifth"
                    data-parent="#accordionExample">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf
                      moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod.
                      Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                      shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea
                      proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                      denim
                      aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--     *********    END Accordion 1     *********      -->
    </div>
    <div class="space-70"></div>
    <div class="section section-nucleo-icons">
      <img src="{% static 'front/img/path3.png' %}" class="path">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-12">
            <h2 class="title">Nucleo Icons</h2>
            <h4 class="description">
              BLK• Design System PRO comes with 100 custom icons made by our friends from NucleoApp. The official
              package contains over 2.100 thin icons which are looking great in combination with BLK• Design System PRO
              Make sure you check all of them and use those that you like the most.
            </h4>
            <div class="btn-wrapper">
              <a href="{% url 'index' %}" class="btn btn-primary btn-round" target="_blank">View Demo
                Icons</a>
              <a href="{% url 'index' %}" class="btn btn-primary btn-simple btn-round btn-lg" target="_blank">View All
                Icons</a>
            </div>
          </div>
        </div>
        <div class="blur-hover">
          <a href="{% url 'index' %}">
            <div class="icons-container blur-item on-screen mt-5">
              <!-- Center -->
              <i class="icon tim-icons icon-coins"></i>
              <!-- Right 1 -->
              <i class="icon icon-sm tim-icons icon-spaceship"></i>
              <i class="icon icon-sm tim-icons icon-money-coins"></i>
              <i class="icon icon-sm tim-icons icon-link-72"></i>
              <!-- Right 2 -->
              <i class="icon tim-icons icon-send"></i>
              <i class="icon tim-icons icon-mobile"></i>
              <i class="icon tim-icons icon-wifi"></i>
              <!-- Left 1 -->
              <i class="icon icon-sm tim-icons icon-key-25"></i>
              <i class="icon icon-sm tim-icons icon-atom"></i>
              <i class="icon icon-sm tim-icons icon-satisfied"></i>
              <!-- Left 2 -->
              <i class="icon tim-icons icon-gift-2"></i>
              <i class="icon tim-icons icon-tap-02"></i>
              <i class="icon tim-icons icon-wallet-43"></i>
            </div>
            <span class="blur-hidden h5 text-primary">Financial Technology Indonesia</span>
          </a>
        </div>
      </div>
    </div>

    {% endblock content %}