<!-- 
 =========================================================
 * Blk• Design System Pro - v1.0.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/blk-design-system-pro
 * Copyright 2019 Creative Tim (http://www.creative-tim.com)

 * Coded by www.creative-tim.com

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 -->

{% extends 'front/base.html' %}
{% load static %}
{% block content%}
<!-- End Navbar -->
<div class="wrapper">
  <div class="page-header">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">FT• Indonesia</h1>
        <h3>Financial Indonesia</h3>
      </div>
    </div>
  </div>
  <div class="space-70"></div>
  <div class="space-70"></div>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="info info-hover">
            <div class="icon icon-primary">
              <img class="bg-blob" src="{% static 'front/img/feature-blob/primary.png' %}">
              <i class="tim-icons icon-book-bookmark"></i>
            </div>
            <h2 class="info-title">Watchlist</h2>
            <h4 class="description">Pada saat berinvestasi kita memilih/memutuskan suatu produk investasi apakah
              menguntungkan atau tidak, mengamati suatu produk investasi diharuskan bagi seorang investment .</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info info-hover" style="margin-top:-50px;">
            <div class="icon icon-warning">
              <img class="bg-blob" src="{% static 'front/img/feature-blob/warning.png' %}">
              <i class="tim-icons icon-coins"></i>
            </div>
            <h2 class="info-title">Reksadana</h2>
            <h4 class="description">Reksa Dana sebuah wadah untuk menghimpun dana yang dikelola oleh badan
              hukum yang bernama Manajer Investasi, kemudian diinvestasikan ke dalam surat berharga seperti :
              saham, obligasi, dan instrumen pasar uang.
            </h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info info-hover">
            <div class="icon icon-success">
              <img class="bg-blob" src="{% static 'front/img/feature-blob/success.png' %}">
              <i class="tim-icons icon-paper"></i>
            </div>
            <h2 class="info-title">Berita</h2>
            <p class="description">Berita bagi seorang investment sangat penting. Berita juga dapat digunakan sebagai
              alat mendapatkan return atau keuntungan dalam berinvestasi.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="space-70"></div>
    <div class="section section-nucleo-icons">
      <img src="{% static 'front/img/path3.png' %}" class="path">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-12">
            <h2 class="title">Finance-Tech</h2>
            <h4 class="description">
              Website ini merupakan website yang berkaitan dengan financial, website ini terdiri dari berita-berita
              financial dan produk investasi reksadana. Website ini membantu para user dalam mencari informasi tentang
              financial ataupun mengecek produk reksadana yang sedang di cari, website hanya sebagai refrensi jika ingin
              lebih jelas silangkan ke website<a href="https://www.ojk.go.id/">OJK(Otoritas Jasa Keuangan)</a> nya
              langsung.
            </h4>
            <div class="btn-wrapper">
              <a href="{% url 'reksadana' %}" class="btn btn-primary btn-round">Reksadana</a>
              <a href="{% url 'berita' %}" class="btn btn-primary btn-round">Berita</a>
            </div>
          </div>
        </div>
        <div class="blur-hover">
          <a href="javascript:;">
            <div class="icons-container blur-item on-screen mt-5">
              <!-- Center -->
              <i class="icon tim-icons icon-coins"></i>
              <!-- Right 1 -->
              <i class="icon icon-sm tim-icons icon-spaceship"></i>
              <i class="icon icon-sm tim-icons icon-money-coins"></i>
              <i class="icon icon-sm tim-icons icon-link-72"></i>
              <!-- Right 2 -->
              <i class="icon tim-icons icon-send"></i>
              <i class="icon tim-icons icon-mobile"></i>
              <i class="icon tim-icons icon-wifi"></i>
              <!-- Left 1 -->
              <i class="icon icon-sm tim-icons icon-key-25"></i>
              <i class="icon icon-sm tim-icons icon-atom"></i>
              <i class="icon icon-sm tim-icons icon-satisfied"></i>
              <!-- Left 2 -->
              <i class="icon tim-icons icon-gift-2"></i>
              <i class="icon tim-icons icon-tap-02"></i>
              <i class="icon tim-icons icon-wallet-43"></i>
            </div>
            <span class="blur-hidden h5 text-primary">Financial Technology Indonesia</span>
          </a>
        </div>
      </div>
    </div>

    {% endblock content %}