{% extends 'front/base.html' %}
{% load static %}
{% block content %}
<!-- End Navbar -->
<div class="wrapper">
  <div class="page-header page-header-small header-filter">
    <div class="page-header-image" data-parallax="true"
      style="background-image: url('../static/front/img/ruvim-noga.jpg');">
    </div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h1 class="title">Learning about Investing Makes Life Comfortable in Old Age
            <!--A Place for Entrepreneurs to Share and Discover New Stories-->
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="space-70"></div>
<div class="space-70"></div>
<div class="cd-section" id="tables-2">
  <!--     *********    Table 2     *********      -->
  <div class="cd-section" id="tables">
    <!--     *********    Table 2     *********      -->
    <div class="tables-2">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <!--<p class="category">Horizontal tabs</p>-->
            <ul class=" nav nav-center nav-pills nav-pills-primary" role="tablist">
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link11" role="tablist">
                  RDPT
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link12" role="tablist">
                  RDPU
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link13" role="tablist">
                  Reksadana Campuran
                </a>
              </li>
            </ul>
            <div class="tab-content tab-space">
              <div class="tab-pane" id="link11">
                <div class="col-md-6 ml-auto mr-auto text-center">
                  <h2 class="title mb-4">RDPT</h2>
                  <div class="section-space"></div>
                </div>
                <div class="col-md-12 mx-auto">
                  <div>
                    <div class="card">
                      <div class="card-body">
                        <div class="table-responsive mb-0">
                          <table class="table table-pricing">
                            <thead>
                              <tr>
                                <th class="text-center">
                                  #
                                </th>
                                <th class="text-center">
                                  <p class="card-title">FindMe</p>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">Essential</p>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">Premium</p>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">FindMe</p>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">Essential</p>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">Essential</p>
                                </th>
                                <th class="center">
                                  <p class="card-title">Essential</p>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>
                                  4
                                </td>
                                <td>
                                  Plan cost<i class="tim-icons icon-alert-circle-exc ml-1"></i>
                                </td>
                                <td>
                                  Free
                                </td>
                                <td>
                                  Free
                                </td>
                                <td>
                                  <a href="javascript:void(0)">Contact us</a>
                                </td>
                                <td>
                                  <a href="javascript:void(0)">Contact us</a>
                                </td>
                                <td>
                                  Platform fee<i class="tim-icons icon-alert-circle-exc ml-1"></i>
                                </td>
                                <td>
                                  0%
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  5
                                </td>
                                <td>
                                  Plan cost<i class="tim-icons icon-alert-circle-exc ml-1"></i>
                                </td>
                                <td>
                                  Free
                                </td>
                                <td>
                                  Free
                                </td>
                                <td>
                                  <a href="javascript:void(0)">Contact us</a>
                                </td>
                                <td>
                                  <a href="javascript:void(0)">Contact us</a>
                                </td>
                                <td>
                                  Platform fee<i class="tim-icons icon-alert-circle-exc ml-1"></i>
                                </td>
                                <td>
                                  <a target="_blank" href="#" class="btn btn-icon btn-neutral btn-round btn-simple"
                                    data-toggle="tooltip" data-original-title="Add Watchlist">
                                    <i class="fa fa-plus"></i>
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <th class="text-right">
                                  #
                                </th>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="link12">
                <div class="col-md-6 ml-auto mr-auto text-center">
                  <h2 class="title mb-4">RDPU</h2>
                  <div class="section-space"></div>
                </div>
                <div class="col-md-12 mx-auto">
                  <div>
                    <div class="card">
                      <div class="card-body">
                        <div class="table-responsive mb-0">
                          <table class="table table-pricing">
                            <thead>
                              <tr>
                                <th class="text-center">
                                  #
                                </th>
                                <th class="text-center">
                                  <p class="card-title">FindMe</p>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">Essential</p>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">Premium</p>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">FindMe</p>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">Essential</p>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">Essential</p>
                                </th>
                                <th class="center">
                                  <p class="card-title">Essential</p>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>
                                  4
                                </td>
                                <td>
                                  Plan cost<i class="tim-icons icon-alert-circle-exc ml-1"></i>
                                </td>
                                <td>
                                  Free
                                </td>
                                <td>
                                  Free
                                </td>
                                <td>
                                  <a href="javascript:void(0)">Contact us</a>
                                </td>
                                <td>
                                  <a href="javascript:void(0)">Contact us</a>
                                </td>
                                <td>
                                  Platform fee<i class="tim-icons icon-alert-circle-exc ml-1"></i>
                                </td>
                                <td>
                                  0%
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  5
                                </td>
                                <td>
                                  Plan cost<i class="tim-icons icon-alert-circle-exc ml-1"></i>
                                </td>
                                <td>
                                  Free
                                </td>
                                <td>
                                  Free
                                </td>
                                <td>
                                  <a href="javascript:void(0)">Contact us</a>
                                </td>
                                <td>
                                  <a href="javascript:void(0)">Contact us</a>
                                </td>
                                <td>
                                  Platform fee<i class="tim-icons icon-alert-circle-exc ml-1"></i>
                                </td>
                                <td>
                                  0%
                                </td>
                              </tr>
                              <tr>
                                <th class="text-right">
                                  <a href="{% url 'reksadana' %}">
                                    Lihat Selengkapnya ...
                                  </a>
                                </th>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane active" id="link13">
                <div class="col-md-6 ml-auto mr-auto text-center">
                  <h2 class="title mb-4">Reksadana Campuran</h2>
                  <div class="section-space"></div>
                </div>
                <div class="col-md-12 mx-auto">
                  <div>
                    <div class="card">
                      <div class="card-body">
                        <div class="table-responsive mb-2">
                          <table class="table table-pricing">
                            <thead>
                              <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Username</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Group</th>
                                <th class="text-center">First Name</th>
                                <th class="text-center">Last Name</th>
                                <th class="text-center">Is Staff</th>
                                <th class="text-center">Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>
                                  4
                                </td>
                                <td>
                                  Plan cost<i class="tim-icons icon-alert-circle-exc ml-1"></i>
                                </td>
                                <td>
                                  Free
                                </td>
                                <td>
                                  Free
                                </td>
                                <td>
                                  <a href="javascript:void(0)">Contact us</a>
                                </td>
                                <td>
                                  <a href="javascript:void(0)">Contact us</a>
                                </td>
                                <td>
                                  Platform fee<i class="tim-icons icon-alert-circle-exc ml-1"></i>
                                </td>
                                <td>
                                  <a href="#" class="btn btn-icon btn-neutral btn-round btn-simple"
                                    data-toggle="tooltip" data-original-title="Add Watchlist">
                                    <i class="fa fa-plus"></i>
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  5
                                </td>
                                <td>
                                  Plan cost<i class="tim-icons icon-alert-circle-exc ml-1"></i>
                                </td>
                                <td>
                                  Free
                                </td>
                                <td>
                                  Free
                                </td>
                                <td>
                                  <a href="javascript:void(0)">Contact us</a>
                                </td>
                                <td>
                                  <a href="javascript:void(0)">Contact us</a>
                                </td>
                                <td>
                                  Platform fee<i class="tim-icons icon-alert-circle-exc ml-1"></i>
                                </td>
                                <td>
                                  <a target="_blank" href="#" class="btn btn-icon btn-neutral btn-round btn-simple"
                                    data-toggle="tooltip" data-original-title="Add Watchlist">
                                    <i class="fa fa-plus"></i>
                                  </a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--     *********    END Table 2     *********      -->
  </div>
  <div class="space-70"></div>
  <div class="cd-section" id="accordion">
    <!--     *********    Accordion 1     *********      -->
    <div class="accordion-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
            <h2 class="title mb-4 mt-5" style="text-decoration-line: underline;">Frequently asked question</h2>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ml-auto">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      How do I order?
                      <i class="tim-icons icon-minimal-down float-right"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                    ea
                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                    denim
                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      How can i make the payment?
                      <i class="tim-icons icon-minimal-down float-right"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                    ea
                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                    denim
                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      How much time does it take to receive the order?
                      <i class="tim-icons icon-minimal-down float-right"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                    ea
                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                    denim
                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse"
                      data-target="#collapseFour" aria-controls="collapseFour">
                      Can I resell the products?
                      <i class="tim-icons icon-minimal-down float-right"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                    ea
                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                    denim
                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFifth">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse"
                      data-target="#collapseFifth" aria-controls="collapseFifth">
                      Where do I find the shipping details?
                      <i class="tim-icons icon-minimal-down float-right"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseFifth" class="collapse" aria-labelledby="headingFifth" data-parent="#accordionExample">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                    ea
                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                    denim
                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--     *********    END Accordion 1     *********      -->
  </div>
  {% endblock content %}