{% extends 'front/base.html' %}
{% load static %}
{% block content %}
<!-- End Navbar -->
<div class="wrapper">
  <div class="page-header page-header-small header-filter">
    <div class="page-header-image" data-parallax="true"
      style="background-image: url('../static/front/img/viktor-forgacs.jpg');">
    </div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h1 class="title">Reksadana
            <!--A Place for Entrepreneurs to Share and Discover New Stories-->
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="space-70"></div>
<div class="cd-section" id="tables-2">
  <!--     *********    Table 2     *********      -->
  <div class="cd-section" id="tables">
    <!--     *********    Table 2     *********      -->
    <div class="tables-2">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <!--<p class="category">Horizontal tabs</p>-->
            <ul class=" nav nav-center nav-pills nav-pills-primary" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link11" role="tablist">
                  Reksadana Pendapatan Tetap
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link12" role="tablist">
                  Reksadana Pasar Uang
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link13" role="tablist">
                  Reksadana Campuran
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link14" role="tablist">
                  Reksadana Saham
                </a>
              </li>
            </ul>
            <form class="form-horizontal" method="GET">
              <div class="row" id="checkRadios">
                <div class="col-sm-6 col-lg-3">
                  <p class="category">Show Entries</p>
                  <div class="form-check form-check-radio">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="tambah_entry" id="exampleRadios1" value="10"
                        checked="">
                      <span class="form-check-sign"></span>
                      10
                    </label>
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="tambah_entry" id="exampleRadios1" value="25">
                      <span class="form-check-sign"></span>
                      25
                    </label>
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="tambah_entry" id="exampleRadios1" value="50">
                      <span class="form-check-sign"></span>
                      50
                    </label>
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="tambah_entry" id="exampleRadios1" value="100">
                      <span class="form-check-sign"></span>
                      100
                    </label>
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="tambah_entry" id="exampleRadios1" value="250">
                      <span class="form-check-sign"></span>
                      250
                    </label>
                  </div>
                  <button type="submit" class="btn btn-primary">tambah</button>

                </div>
              </div>
            </form>
            <div class="tab-content tab-space">
              <div class="tab-pane active" id="link11">
                <div class="col-md-6 ml-auto mr-auto text-center">
                  <h2 class="title mb-4">Reksadana Pendapatan Tetap</h2>
                  <div class="section-space"></div>
                </div>
                <div class="col-md-12 mx-auto">
                  <div>
                    <div class="card">
                      <div class="card-body">
                        <div class="table-responsive mb-0">
                          <table class="table table-pricing">
                            <thead>
                              <tr class="bg-primary">
                                <th class="text-center">
                                  #
                                </th>
                                <th class="text-center">
                                  <b class="card-title">Nama</b>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">Management</p>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">Custodion</p>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">Jenis</p>
                                </th>
                                {% if request.user.is_anonymous %}
                                {% elif request.user %}
                                <th class="text-center">
                                  <p class="card-title">Actions</p>
                                </th>
                                {% endif %}
                              </tr>
                            </thead>
                            <tbody>
                              {% for index in reksadana1 %}
                              {% if forloop.counter <= show %} <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ index.name }}</td>
                                <td>{{ index.management }}</td>
                                <td>{{ index.custodian }}</td>
                                <td class="text-center">{{ index.tipe_reksadana }}</td>
                                {% if request.user.is_anonymous %}
                                {% elif request.user %}
                                <td class="text-center">
                                  <a href="{% url 'add_watchlist' index.id %}"><i class="fa fa-plus-circle"></i></a>
                                </td>
                                {% endif %}
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="link12">
                <div class="col-md-6 ml-auto mr-auto text-center">
                  <h2 class="title mb-4">Reksadana Pasar Uang</h2>
                  <div class="section-space"></div>
                </div>
                <div class="col-md-12 mx-auto">
                  <div>
                    <div class="card">
                      <div class="card-body">
                        <div class="table-responsive mb-0">
                          <table class="table table-pricing">
                            <thead>
                              <tr class="bg-primary">
                                <th class="text-center">
                                  #
                                </th>
                                <th class="text-center">
                                  <b class="card-title">Nama</b>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">Management</p>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">Custodion</p>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">Jenis</p>
                                </th>
                                {% if request.user.is_anonymous %}
                                {% elif request.user %}
                                <th class="text-center">
                                  <p class="card-title">Actions</p>
                                </th>
                                {% endif %}
                              </tr>
                            </thead>
                            <tbody>
                              {% for index in reksadana2 %}
                              {% if forloop.counter <= show %} <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ index.name }}</td>
                                <td>{{ index.management }}</td>
                                <td>{{ index.custodian }}</td>
                                <td class="text-center">{{ index.tipe_reksadana }}</td>
                                {% if request.user.is_anonymous %}
                                {% elif request.user %}
                                <td class="text-center">
                                  <a href="{% url 'add_watchlist' index.id %}"><i class="fa fa-plus-circle"></i></a>
                                </td>
                                {% endif %}
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="link13">
                <div class="col-md-6 ml-auto mr-auto text-center">
                  <h2 class="title mb-4">Reksadana Campuran</h2>
                  <div class="section-space"></div>
                </div>
                <div class="col-md-12 mx-auto">
                  <div>
                    <div class="card">
                      <div class="card-body">
                        <div class="table-responsive mb-2">
                          <table class="table table-pricing">
                            <thead>
                              <tr class="bg-primary">
                                <th class="text-center">
                                  #
                                </th>
                                <th class="text-center">
                                  <b class="card-title">Nama</b>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">Management</p>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">Custodion</p>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">Jenis</p>
                                </th>
                                {% if request.user.is_anonymous %}
                                {% elif request.user %}
                                <th class="text-center">
                                  <p class="card-title">Actions</p>
                                </th>
                                {% endif %}
                              </tr>
                            </thead>
                            <tbody>
                              {% for index in reksadana3 %}
                              {% if forloop.counter <= show %} <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ index.name }}</td>
                                <td>{{ index.management }}</td>
                                <td>{{ index.custodian }}</td>
                                <td class="text-center">{{ index.tipe_reksadana }}</td>
                                {% if request.user.is_anonymous %}
                                {% elif request.user %}
                                <td class="text-center">
                                  <a href="{% url 'add_watchlist' index.id %}"><i class="fa fa-plus-circle"></i></a>
                                </td>
                                {% endif %}
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="link14">
                <div class="col-md-6 ml-auto mr-auto text-center">
                  <h2 class="title mb-4">Reksadana Saham</h2>
                  <div class="section-space"></div>
                </div>
                <div class="col-md-12 mx-auto">
                  <div>
                    <div class="card">
                      <div class="card-body">
                        <div class="table-responsive mb-0">
                          <table class="table table-pricing">
                            <thead>
                              <tr class="bg-primary">
                                <th class="text-center">
                                  #
                                </th>
                                <th class="text-center">
                                  <b class="card-title">Nama</b>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">Management</p>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">Custodion</p>
                                </th>
                                <th class="text-center">
                                  <p class="card-title">Jenis</p>
                                </th>
                                {% if request.user.is_anonymous %}
                                {% elif request.user %}
                                <th class="text-center">
                                  <p class="card-title">Actions</p>
                                </th>
                                {% endif %}
                              </tr>
                            </thead>
                            <tbody>
                              {% for index in reksadana4 %}
                              {% if forloop.counter <= show %} <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ index.name }}</td>
                                <td>{{ index.management }}</td>
                                <td>{{ index.custodian }}</td>
                                <td class="text-center">{{ index.tipe_reksadana }}</td>
                                {% if request.user.is_anonymous %}
                                {% elif request.user %}
                                <td class="text-center">
                                  <a href="{% url 'add_watchlist' index.id %}"><i class="fa fa-plus-circle"></i></a>
                                </td>
                                {% endif %}
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--     *********    END Table 2     *********      -->
  </div>
  <div class="space-70"></div>
  <div class="cd-section" id="accordion">
    <!--     *********    Accordion 1     *********      -->
    <div class="accordion-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
            <h2 class="title mb-4 mt-5" style="text-decoration-line: underline;">Informasi Tambahan</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ml-auto">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-left collapsed" tipe="button" data-toggle="collapse"
                      data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      Apa Itu Reksa Dana ?
                      <i class="tim-icons icon-minimal-down float-right"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    Reksa dana adalah wadah dan pola pengelolaan dana/modal bagi sekumpulan investor untuk berinvestasi
                    dalam
                    instrumen-instrumen investasi yang tersedia di pasar modal dengan cara membeli unit penyertaan reksa
                    dana berupa surat berharga
                    seperti :
                    saham, obligasi, dan instrumen keuangan lainnya.
                    Cara investasi reksadana bekerja adalah dengan mempercayakan uang yang kita miliki kepada
                    manajer investasi.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-left collapsed" tipe="button" data-toggle="collapse"
                      data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Kenapa Investasi Reksa Dana ?
                      <i class="tim-icons icon-minimal-down float-right"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    Reksa dana disebut sebagai instrumen investasi yang bisa menjadi pilihan bagi investor pemula.
                    Pasalnya, instrumen
                    investasi ini mengandalkan manajer investasi yang andal dalam meracik portofolionya.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-left collapsed" tipe="button" data-toggle="collapse"
                      data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Apa Itu Reksa Dana Pendapatan Tetap ?
                      <i class="tim-icons icon-minimal-down float-right"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    Reksa dana pendapatan tetap adalah dana yang diinvestasikan minimum 80% dari nilai aktiva bersih
                    yang berupa surat utang
                    atau obligasi, dan sisanya merupakan investasi yang ditanamkan pada pasar uang.
                    Tujuannya untuk menghasilkan tingkat pengembalian yang stabil. Risikonya relatif lebih besar
                    daripada reksadana pasar
                    uang.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-left collapsed" tipe="button" data-toggle="collapse"
                      data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Apa itu Reksa Dana Pasar Uang ?
                      <i class="tim-icons icon-minimal-down float-right"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body">
                    Reksadana pasar uang adalah jenis reksadana yang melakukan investasi pada jenis instrumen investasi
                    pasar uang dangan
                    masa jatuh tempo kurang dari satu tahun.
                    Bentuk instrumen investasinya dapat berupa time deposit (deposito berjangka), certificate of deposit
                    (sertifikat
                    deposito), Sertifikat Bank Indonesia (SBI), Surat Berharga Pasar Uang (SBPU) dan berbagai jenis
                    instrumen investasi
                    pasar uang lainnya.
                    Tujuannya untuk menjaga likuiditas dan pemeliharaan modal. Risikonya relatif paling rendah
                    dibandingkan reksadana jenis
                    lainnya.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFifth">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-left" tipe="button" data-toggle="collapse"
                      data-target="#collapseFifth" aria-expanded="false" aria-controls="collapseFifth">
                      Apa itu Reksa Dana Campuran ?
                      <i class="tim-icons icon-minimal-down float-right"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseFifth" class="collapse" aria-labelledby="headingFifth" data-parent="#accordionExample">
                  <div class="card-body">
                    Reksadana campuran adalah jenis reksadana mengalokasikan dana investasinya dalam portofolio yang
                    bervariasi. Instrumen
                    investasinya dapat berbentuk saham dan dikombinasikan dengan obligasi.
                    Tujuannya untuk pertumbuhan harga dan pendapatan. Risiko reksadana campuran bersifat moderat dengan
                    potensi tingkat
                    pengembalian yang relatif lebih tinggi dibandingkan reksadana pendapatan tetap.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingSix">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-left" tipe="button" data-toggle="collapse"
                      data-target="#collapseSix" aria-controls="collapseSix">
                      Apa Itu Reksa Dana Saham ?
                      <i class="tim-icons icon-minimal-down float-right"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                  <div class="card-body">
                    Reksadana saham adalah jenis reksadana yang menginvestasikan sekurang-kurangnya 80 persen dari
                    aktivanya dalam bentuk
                    efek bersifat ekuitas.
                    Tujuannya untuk pertumbuhan harga saham atau unit dalam jangka panjang. Risikonya relatif lebih
                    tinggi dari reksadana
                    pasar uang dan reksadana pendapatan tetap, namun memiliki potensi tingkat pengembalian yang paling
                    tinggi.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--     *********    END Accordion 1     *********      -->
  </div>
  {% endblock content %}